{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
{% endblock %}
{% block body %}
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ asset('img/logo.svg') }}">
            </div>
            <ul class="menu">
                <li><a href="{{ path('app_home') }}">Nos produits</a></li>
                {% if app.user %}
                <li><a href="{{ path('app_shopping_cart') }}">Mon panier</a></li>
                <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

        <main>
        <div class="container-form">
            <div class="image-section">
                <img src="{{ asset('img/conviction.jpeg') }}" alt="Image des plantes">
            </div>
            <div class="form-section">
                <h2>Connexion</h2>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <label for="inputEmail">Adresse email</label>
    <input type="email" value="{{ last_username }}" id="inputEmail" name="email" class="form-text" autocomplete="email" required autofocus>
   
    <label for="inputPassword">Mot de passe</label>
    <input type="password" id="inputPassword" name="password" class="form-text" autocomplete="current-password" required>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button type="submit">Se connecter</button>
</form>
            <a href="{{ path('app_register') }}">Pas encore de compte ? S'inscrire</a>
        </div>
    </div>
</main>
<footer>

    <p>&copy; GreenGoodies - 2024</p>
</footer>
{% endblock %}
